body {
    background-color: bisque;
    margin: 0;
}
.homebutt {
    position: absolute;
    top: 10px;
    right: 10px;
    background: rgb(103, 96, 202);
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
}
h1{
    text-align: center;
    font-style: italic;
    background-image: url("headbackground.jpg");
}
h2{
   text-decoration: double;
}
.bleh{
    text-align: right;
}
p{
    text-align: left;
    font-family: cursive;
}
.wiwiwi{
    text-align: right;
    font-family: cursive;
}
img{
    width: 40%;
    height: 180px;
    margin: 20px;
    margin-left: 1000px;
}
.better{
    width:40%;
    height: 180px;
    margin: 20px;
}